* {
    box-sizing: border-box;
}

body {
    white-space: pre-line;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  ;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  str
}